@import '_reset';

.container {background-color: bisque;}

.enter-btn, .card-btn {
    width: 150px; 
    height: 65px; 
    border-radius: 5px; 
    background-color: aquamarine;
    margin-top: 20px;
}

input {
    border: 1px solid grey;
    width: 275px;
    height: 50px;
}

@import '_main.scss';